[Desktop Entry]
Type=Application
Exec=python3 /opt/ceidArtasIndicator/src/AnnouncementsForCEID-Artas.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[el]=Not-Up για το Τ.Ε.Ι.
Name=Not-Up για το Τ.Ε.Ι.
Comment[el]=Τ.Ε.Ι. Updater
Comment=Τ.Ε.Ι. Updater
